<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClose.emit()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="detail-header ion-text-center">
    <div class="icon-circle" [style.background]="transaccion.categoria | categoryColor">
      <ion-icon [name]="transaccion.categoria | categoryIcon" color="light"></ion-icon>
    </div>

    <h2 class="ion-margin-top">{{ transaccion.categoria }}</h2>

    <app-amount-display [monto]="transaccion.monto" [tipo]="transaccion.tipo" tamano="large"></app-amount-display>

    <p class="date-text"><ion-text color="medium">{{ transaccion.fecha | dateFormat }}</ion-text></p>
  </div>

  <ion-list lines="full" class="ion-margin-top">
    <ion-item *ngIf="transaccion.descripcion">
      <ion-icon name="document-text-outline" slot="start" color="medium"></ion-icon>
      <ion-label class="ion-text-wrap">
        <h3>Descripción</h3>
        <p>{{ transaccion.descripcion }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="transaccion.comprobante">
      <ion-icon name="image-outline" slot="start" color="medium"></ion-icon>
      <ion-label>Comprobante</ion-label>
    </ion-item>
  </ion-list>

  <div class="photo-container ion-text-center ion-margin-top" *ngIf="transaccion.comprobante">
    <app-photo-preview [photoUrl]="transaccion.comprobante"></app-photo-preview>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" fill="clear" (click)="onDelete.emit(transaccion.id!)">
          <ion-icon name="trash-outline" slot="start"></ion-icon> Eliminar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="primary" fill="solid" (click)="onEdit.emit(transaccion)">
          <ion-icon name="pencil-outline" slot="start"></ion-icon> Editar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>