<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-title>Movimientos</ion-title>
    </ion-toolbar>

    <app-filter-bar (onSearch)="handleSearch($event)" (onTypeChange)="handleType($event)"
        (onCategoryChange)="handleCategory($event)">
    </app-filter-bar>
</ion-header>

<ion-content class="ion-padding">

    <ion-list lines="none" *ngIf="transacciones.length > 0">
        <app-transaction-item
            *ngFor="let t of transacciones | filterByType:filtroTipo | filterByCategory:filtroCategoria | searchByText:textoBusqueda"
            [transaccion]="t" (onClick)="verDetalleTransaccion($event)">
        </app-transaction-item>
    </ion-list>

    <app-empty-state
        *ngIf="(transacciones | filterByType:filtroTipo | filterByCategory:filtroCategoria | searchByText:textoBusqueda).length === 0"
        [mensaje]="textoBusqueda ? 'No hay resultados para esta búsqueda.' : 'No hay movimientos.'"
        icono="search-outline" accion="Añadir" (onAccion)="abrirModal()">
    </app-empty-state>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="abrirModal()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-modal [isOpen]="isModalOpen" (didDismiss)="cerrarModal()">
        <ng-template>
            <app-transaction-form (onSave)="guardarNuevaTransaccion($event)" (onCancel)="cerrarModal()">
            </app-transaction-form>
        </ng-template>
    </ion-modal>

</ion-content>